ParkirKendaraan/Service References/TransaksiService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WebService.Model" />
  <xs:element name="FetchAllTransaksi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllTransaksiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebService.Model" minOccurs="0" name="FetchAllTransaksiResult" nillable="true" type="q1:ArrayOfTransaksi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewTransaksi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="noPolisi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idKategori" type="xs:long" />
        <xs:element minOccurs="0" name="tanggalMasuk" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewTransaksiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertNewTransaksiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransaksi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="noPolisi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idKategori" type="xs:long" />
        <xs:element minOccurs="0" name="tanggalMasuk" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tanggalKeluar" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransaksiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTransaksiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTransaksi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTransaksiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTransaksiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchKategori">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idKategori" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchKategoriResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebService.Model" minOccurs="0" name="FetchKategoriResult" nillable="true" type="q2:Kategori" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllKategori">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllKategoriResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebService.Model" minOccurs="0" name="FetchAllKategoriResult" nillable="true" type="q3:ArrayOfKategori" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>