ParkirKendaraan/Service References/TransaksiService/WebService.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTransaksi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaksi" nillable="true" type="tns:Transaksi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaksi" nillable="true" type="tns:ArrayOfTransaksi" />
  <xs:complexType name="Transaksi">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IdKategori" type="xs:long" />
      <xs:element minOccurs="0" name="NoPolisi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TanggalKeluar" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TanggalMasuk" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaksi" nillable="true" type="tns:Transaksi" />
  <xs:complexType name="Kategori">
    <xs:sequence>
      <xs:element minOccurs="0" name="HargaJamPertama" type="xs:long" />
      <xs:element minOccurs="0" name="HargaPerJam" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Keterangan" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kategori" nillable="true" type="tns:Kategori" />
  <xs:complexType name="ArrayOfKategori">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Kategori" nillable="true" type="tns:Kategori" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKategori" nillable="true" type="tns:ArrayOfKategori" />
</xs:schema>